@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  font-family: "Montserrat", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

#logo {
  font-style: italic;
  font-weight: 800;
  padding: 20px;
  margin: 0;
  height: 35px;
}

#message {
  font-weight: 600;
  text-align: center;
  position: relative;
}

#messagePlus {
  position: relative;
  top: 5px;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#message img {
  height: 30px;
}

#plus {
  position: fixed;
  height: 100px;
  width: 100px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

/* allTask Design start*/

.allTask ul li {
  list-style: none;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  padding: 20px;
  background-color: beige;
  margin: 10px;
  position: relative;
  width: 42%;
}

.allTask ul li span {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 16px;
}

.allTask ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-wrap: anywhere;
}

.showDifficulty {
  position: absolute;
  right: 20px;
  top: 0px;
}

#Easy {
  background-color: rgba(172, 255, 47, 0.564);
  color: green;
  font-weight: 600;
  font-size: 16px;
  padding: 3px 4px;
  border-radius: 4px;
}

#Medium {
  background-color: rgba(255, 166, 0, 0.502);
  color: rgb(255, 111, 0);
  font-weight: 600;
  font-size: 16px;
  padding: 3px 4px;
  border-radius: 4px;
}

#Hard {
  background-color: rgba(255, 0, 0, 0.324);
  color: rgb(211, 1, 1);
  font-weight: 600;
  font-size: 16px;
  padding: 3px 4px;
  border-radius: 4px;
}

.easy-task {
  box-shadow: 12px 12px 2px 1px rgba(4, 255, 0, 0.212);
}

.medium-task {
  box-shadow: 12px 12px 2px 1px rgba(255, 162, 0, 0.212);
}

.hard-task {
  box-shadow: 12px 12px 2px 1px rgba(255, 0, 0, 0.212);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.new-task-animation {
  animation: fadeIn 0.2s ease-out;
}

/* dark mode switch start*/

.checkbox-wrapper-2 {
  margin: 30px 20px;
}

.checkbox-wrapper-2 .ikxBAC {
  appearance: none;
  background-color: #dfe1e4;
  border-radius: 72px;
  border-style: none;
  flex-shrink: 0;
  height: 20px;
  margin: 0;
  position: relative;
  width: 30px;
}

.checkbox-wrapper-2 .ikxBAC::before {
  bottom: -6px;
  content: "";
  left: -6px;
  position: absolute;
  right: -6px;
  top: -6px;
}

.checkbox-wrapper-2 .ikxBAC,
.checkbox-wrapper-2 .ikxBAC::after {
  transition: all 100ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.checkbox-wrapper-2 input[type="checkbox"] {
  cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover {
  background-color: #c9cbcd;
  transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked {
  background-color: #6e79d6;
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
  background-color: #fff;
  left: 13px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible) {
  outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover {
  background-color: #535db3;
}

.checkbox-wrapper-2 {
  display: flex;
  gap: 5px;
}

/* dark mode switch end*/

/* allTask design end*/

/* --- */

/* input newTaskForm design start*/

/* close button start*/
.close { 
  box-sizing: border-box;
  display: inline-block;
  width: 22px; 
  height: 22px; 
  background-color: transparent; 
  box-shadow: inset 0px 0px 0px 2px #006e93; 
  border-radius: 50%; 
  position: absolute;
  bottom: 37px;
  right: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.close:after,
.close:before {
  position: absolute;
  content:"";
  background-color: #006e93;
}

.close:after {
  width: 2px;
  height: 10px;
  top: 6px;
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:before {
  width: 10px;
  height: 2px;
  top: 10px;
  left: 6px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close:hover {
  background: #e60500;
  box-shadow: none;
}

.close:hover:after,
.close:hover:before {
  background: black;
}
/* close button end*/

.newTaskForm {
    max-width: 800px;
    margin: 0 auto;
    background-color: beige;
    padding: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(149, 0, 255, 0.188);
    max-width: 50%;
  }
  
  .newTaskForm form {
    display: grid;
    grid-template-areas:
      "title title title"
      "description description description"
      "dueDatelabel difficultylabel button"
      "dueDate difficulty button";
    gap: 12px;
    position: relative;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .newTaskForm {
    animation: slideIn 0.2s ease-out;
  }  
  
  #dueDatelabel,
  #difficultylabel {
    font-size: 15px;
    font-weight: 600;
    padding-left: 8px;
    color: #5c5c5c;
  }
  
  #title,
  #description {
    grid-column: span 3;
  }
  
  #title {
    grid-area: title;
  }
  
  #description {
    grid-area: description;
  }
  
  #dueDate{
    grid-area: dueDate;
  }

  #difficulty{
    grid-area: difficulty;
  }
  
  #title,
  #description,
  #dueDate,
  #difficulty {
    border: none;
    border-bottom: 2px solid transparent;
    padding: 12px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 8px;
    background-color: transparent;
    font-family: "Montserrat", sans-serif;
  }
  
  #title:focus,
  #description:focus,
  #dueDate:focus,
  #difficulty:focus {
    border: 2px solid rgb(144, 0, 255);
    box-shadow: 0px 2px 18px -6px rgba(144, 0, 255, 0.4);
  }
  
  /* custom button start*/
  .button {
    grid-area: button;
    justify-self: center;
    align-self: center;
    font-size: 15px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    width: 50%;
    height: 2.8rem;
    position: relative;
    overflow: hidden;
    padding: 0 1.5rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .button:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.65);
  }
  
  .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(160, 70, 240, 1) 15%,
      rgba(48, 70, 240, 1) 85%
    );
    transition: all 0.4s;
  }

   /* custom button end*/
  
  /* input newTaskForm design end*/
  